
# Playwright
node_modules/
/test-results/
/playwright-report/
/playwright-report-chromium/
/playwright-report-firefox/
/playwright-report-webkit/
/blob-report/
/playwright/.cache/
/playwright/.auth/
*/tools
**/tools/
**/temurin17zip/
*.msi
jmeter.log
